<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8 mat-card mt-0">
          
          <div class="row">
            <div class="col-md-1 ml-auto text-right icon-container" [ngClass]="{'disabled': !data.length}">
              <fa-icon [icon]="faIcons.faFileExcel" size="2x" class="purple-900"
               (click)="openBottomSheet()" matTooltip="Export as excel"></fa-icon>
            </div>
            <div class="col-md-4">
              <form>
                <mat-form-field [floatLabel]="'never'">
                  <input matInput placeholder="Search" #searchInput />
                  <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button (click)="resetSearchValue()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div class="table-container">
            <app-preloader [showPreLoader]="isFormLoading" [showNoRecordsMessage]="!data.length"></app-preloader>
            <table mat-table [dataSource]="data" matSort matSortActive="datetime" 
              matSortDisableClear matSortDirection="desc">
              
              <!-- Username Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Username</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.username}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.name}}</td>
              </ng-container>

              <!-- Mobile Column -->
              <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Mobile</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.mobileNumber}}</td>
              </ng-container>

              <!-- Profile Column -->
              <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Profile</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.profile}}</td>
              </ng-container>

              <!-- MAC Address Column -->
              <ng-container matColumnDef="macAddress">
                <th mat-header-cell *matHeaderCellDef class="text-center">MAC Address</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.macAddress}}</td>
              </ng-container>

              <!-- Login Time Column -->
              <ng-container matColumnDef="loginTime">
                <th mat-header-cell *matHeaderCellDef class="text-center">Login Time</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.loginTime}}</td>
              </ng-container>

              <!-- Logout Time Column -->
              <ng-container matColumnDef="logoutTime">
                <th mat-header-cell *matHeaderCellDef class="text-center">Logout Time</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.logoutTime}}</td>
              </ng-container>

              <!-- Up Time Column -->
              <ng-container matColumnDef="upTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Up Time</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.upTime}}</td>
              </ng-container>

              <!-- Bytes In Column -->
              <ng-container matColumnDef="bytesIn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Bytes In</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.bytesIn}}</td>
              </ng-container>

              <!-- Bytes Out Column -->
              <ng-container matColumnDef="bytesOut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Bytes Out</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.bytesOut}}</td>
              </ng-container>

              <!-- Total Usage Column -->
              <ng-container matColumnDef="totalUsage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Usage</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.totalUsage}}</td>
              </ng-container>

              <!-- Allocated Usage Column -->
              <ng-container matColumnDef="allocatedUsage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Allocated Usage</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.allocatedUsage}}</td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
