<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8 mat-card mt-0">
          <div class="row d-inline-block">
            <div class="d-inline-block ml-2 border-right pr-1">
              <div class="form-group text-center">
                <button matRipple type="button" class="btn btn-sm btn-danger"
                  [disabled]="formDependencyData.isAllocateButtonDisabled" (click)="openAllocateModal()">Allocate</button>
              </div>
            </div>

            <div class="d-inline-block mb-2 ml-1">
              <form [formGroup]="form" (ngSubmit)="onSearchFormSubmit()">
                <div class="row d-flex align-items-center">
                  <div class="col">
                    <mat-form-field>
                      <input matInput placeholder="Container Number" formControlName="containerNumber" uppercase maxlength="11" />
                      <mat-error *ngIf="f.containerNumber.errors">
                        Required. Alphanumeric - no space allowed - max(11) chars
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Destination</mat-label>
                      <mat-select formControlName="destination">
                        <mat-option *ngFor="let destination of formDependencyData.destinations" [value]="destination.id">{{destination.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Yard</mat-label>
                      <mat-select formControlName="yard">
                        <mat-option *ngFor="let yard of formDependencyData.yards" [value]="yard.id">{{yard.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <mat-form-field>
                      <mat-label>To</mat-label>
                      <mat-select formControlName="to">
                        <mat-option *ngFor="let to of formDependencyData.tos" [value]="to.code">{{to.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <div class="d-flex">
                      <div class="mr-2 border pl-1 pr-1">
                        <fa-icon [icon]="faIcons.faSearch" size="1x" class="red-a400"
                          (click)="onSearchFormSubmit()" matTooltip="Search"></fa-icon>
                      </div>

                      <div class="mr-2 border pl-1 pr-1">
                        <fa-icon [icon]="faIcons.faTimes" size="1x" class="red-a400"
                          (click)="onClearSearch()" matTooltip="Clear Search"></fa-icon>
                      </div>

                      <div class="mr-2 border pl-1 pr-1" [ngClass]="{'disabled': !data.length}">
                        <fa-icon [icon]="faIcons.faFileExcel" size="1x" class="purple-900"
                         (click)="openBottomSheet()" matTooltip="Export as excel"></fa-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="table-container">
            <app-preloader [showPreLoader]="isFormLoading" [showNoRecordsMessage]="!data.length"></app-preloader>
            <table mat-table [dataSource]="data" matSort matSortActive="datetime" 
              matSortDisableClear matSortDirection="desc">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <mat-checkbox (change)="onSelectAll($event)"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="onSelect($event, row)"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Container# Column -->
              <ng-container matColumnDef="container_number">
                <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.container_number}}</td>
              </ng-container>
        
              <!-- Destination Column -->
              <ng-container matColumnDef="destinationName">
                <th mat-header-cell *matHeaderCellDef class="text-center">Destination</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.destinationName}}</td>
              </ng-container>
        
              <!-- Yard Column -->
              <ng-container matColumnDef="yardName">
                <th mat-header-cell *matHeaderCellDef>Yard</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.yardName}}</td>
              </ng-container>

              <!-- To Column -->
              <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef>To</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.to}}</td>
              </ng-container>

              <!-- Chassis Number Column -->
              <ng-container matColumnDef="chassis_number">
                <th mat-header-cell *matHeaderCellDef>Chassis Number</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.chassis_number}}</td>
              </ng-container>

              <!-- Seal Number Column -->
              <ng-container matColumnDef="seal_number">
                <th mat-header-cell *matHeaderCellDef>Seal#</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.seal_number}}</td>
              </ng-container>

              <!-- Allocation Status Column -->
              <ng-container matColumnDef="allocationStatus">
                <th mat-header-cell *matHeaderCellDef>Allocation Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.allocationStatus}}</td>
              </ng-container>

              <!-- Is Rail Bill Status Column -->
              <ng-container matColumnDef="is_rail_bill">
                <th mat-header-cell *matHeaderCellDef>IsRailBill</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.is_rail_bill}}</td>
              </ng-container>

              <!-- Created By Column -->
              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.createdBy}}</td>
              </ng-container>

              <!-- created_datetime Column -->
              <ng-container matColumnDef="created_datetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created Date</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.created_datetime}}</td>
              </ng-container>
              
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item color="warn" (click)="navigate(element.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteAllocation(element.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #allocateModal>
  <div class="position-relative">
    <app-preloader [showPreLoader]="isAfFormLoading"></app-preloader>
  
    <h2 mat-dialog-title>Allocate</h2>
    <form [formGroup]="allocationForm" (ngSubmit)="onAllocationFormSubmit()">
      <mat-dialog-content>
        <div class="row">
          <div class="col">

            <mat-form-field appearance="fill">
              <input matInput placeholder="Open Date*" formControlName="openDate" [ngxMatDatetimePicker]="openDatePicker"
                [max]="formDependencyData.maxDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="openDatePicker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #openDatePicker></ngx-mat-datetime-picker>
              <mat-error *ngIf="af.openDate.errors">
                Required.
              </mat-error>
          </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="fill">
              <input matInput placeholder="Expiry Date*" formControlName="expiryDate" [ngxMatDatetimePicker]="expiryDatePicker" 
                [min]="af.openDate.value" readonly />
              <mat-datepicker-toggle matSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #expiryDatePicker></ngx-mat-datetime-picker>
              <mat-error *ngIf="af.expiryDate.errors">
                Required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="center">
        <button matRipple type="submit" class="btn btn-danger">Submit</button>
        <button matRipple mat-dialog-close class="btn">Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-template>