<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8 mat-card mt-0">
          
          <div class="row">
            <div class="col-md-1 ml-auto text-right icon-container" [ngClass]="{'disabled': !data.length}">
              <fa-icon [icon]="faIcons.faFileExcel" size="2x" class="purple-900"
               (click)="openBottomSheet()" matTooltip="Export as excel"></fa-icon>
            </div>
            <div class="col-md-4">
              <form>
                <mat-form-field [floatLabel]="'never'">
                  <input matInput placeholder="Search" #searchInput />
                  <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button (click)="resetSearchValue()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div class="table-container">
            <app-preloader [showPreLoader]="isFormLoading" [showNoRecordsMessage]="!data.length"></app-preloader>
            <table mat-table [dataSource]="data" matSort matSortActive="datetime" 
              matSortDisableClear matSortDirection="desc">
              
              <!-- Client # Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class="text-left" class="text-center">Client#</th>
                <td mat-cell *matCellDef="let row" class="text-left" class="text-center">{{row.id}}</td>
              </ng-container>

              <!-- Client Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.name}}</td>
              </ng-container>
        
              <!-- Business Name Column -->
              <ng-container matColumnDef="business_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Business Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.business_name}}</td>
              </ng-container>
        
              <!-- Username Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>Username</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.username}}</td>
              </ng-container>

              <!-- Instances Column -->
              <ng-container matColumnDef="instances">
                <th mat-header-cell *matHeaderCellDef>Instances</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.instances.length}}</td>
              </ng-container>

              <!-- Users count Column -->
              <ng-container matColumnDef="usersCount">
                <th mat-header-cell *matHeaderCellDef>Users</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.usersCount}}</td>
              </ng-container>

              <!-- SMS Gateway Column -->
              <ng-container matColumnDef="sms_gateway">
                <th mat-header-cell *matHeaderCellDef>SMS Gateway</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.sms_gateway}}</td>
              </ng-container>

              <!-- SMS Limit Column -->
              <ng-container matColumnDef="sms_limit">
                <th mat-header-cell *matHeaderCellDef>SMS Limit</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.sms_limit}}</td>
              </ng-container>

              <!-- OTP Login Column -->
              <ng-container matColumnDef="otp_login">
                <th mat-header-cell *matHeaderCellDef>OTP Login</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <mat-icon>{{ (row.otp_login) ? 'check' : 'close' }}</mat-icon>
                </td>
              </ng-container>

              <!-- Facebook Login Column -->
              <ng-container matColumnDef="fb_login">
                <th mat-header-cell *matHeaderCellDef>Facebook Login</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <mat-icon>{{ (row.fb_login) ? 'check' : 'close' }}</mat-icon>
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.status}}</td>
              </ng-container>
        
              <!-- datetime Column -->
              <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.date}}</td>
              </ng-container>
              
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item color="warn" (click)="navigate(element.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
