<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-md-5">
        <div class="logo text-center">
          <img src="assets/img/logo.png" alt="Logo" />
        </div>

        <mat-card class="form-card">
          <mat-card-header class="mat-card-header-rose">
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          
          <mat-card-content>
            <app-preloader [showPreLoader]="isFormLoading"></app-preloader>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username" type="text" />
                    <mat-error *ngIf="f.username.errors">
                      Required. Enter username
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password" type="password" />
                    <mat-error *ngIf="f.password.errors">
                      Required. Enter password
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a class="clickable" (click)="onForgotPasswordLinkClick()">Forgot Password?</a>
                    </div>
                    <div>
                      <button mat-raised-button type="submit" class="btn btn-danger">Login</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #forgotPasswordModal>
  <h2 mat-dialog-title>Forgot Password</h2>
  <div class="position-relative">
    <app-preloader [showPreLoader]="isForgotPasswordFormLoading"></app-preloader>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit()">
      <mat-dialog-content>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Username*" formControlName="username" maxlength="35" />
              <mat-error *ngIf="f.username.errors">
                Required. Space not allowed - min(5) - max(35) chars
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="center">
        <button matRipple type="submit" class="btn btn-danger">Submit</button>
        <button matRipple mat-dialog-close class="btn">Cancel</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-template>
