.main-content {
  background: url('../../assets/img/mountain-background.svg') fixed;
  height: 100%;
}

.login {
  margin-top: 20px;
}

.logo {
  margin: 30px 0px 20px 0px;
  img {
    width: 250px;
  }
}

.login-card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}