<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <mat-card class="form-card">
          <mat-card-header class="mat-card-header-danger">
            <mat-card-title>By Pass User</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-preloader [showPreLoader]="isFormLoading"></app-preloader>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input matInput placeholder="Mac Address*" formControlName="macAddress" />
                <mat-error *ngIf="f.macAddress.errors">
                  Required. Valid mac address - Ex: E8:DE:27:B4:78:B1
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" />
                <mat-error *ngIf="f.address.errors">
                  Required. Enter valid IP address - Ex: 0.0.0.0
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="To Address" formControlName="toAddress" />
                <mat-error *ngIf="f.toAddress.errors">
                  Required. Enter valid IP address - Ex: 0.0.0.0
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Type*</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let type of ['regular', 'bypassed', 'blocked']" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="f.type.errors">
                  Required.
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Comments/DNS Username*" formControlName="comment" />
                <mat-error *ngIf="f.comment.errors">
                  Required.
                </mat-error>
              </mat-form-field>

              <div class="form-group text-center">
                <button matRipple type="submit" class="btn btn-danger">Submit</button>
              </div>

            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
