<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mat-elevation-z8 mat-card mt-0">
          
          <div class="row">
            <div class="col-lg-12">
              <form>
                <mat-form-field [floatLabel]="'never'">
                  <input matInput placeholder="Search" #searchInput (keyup)="applyFilter($event.target.value)" [disabled]="!data" />
                  <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button (click)="resetSearchValue()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div class="table-container">
            <app-preloader [showPreLoader]="isFormLoading" [showNoRecordsMessage]="!data"></app-preloader>

            <table mat-table [dataSource]="data" matSort matSortActive=".id" 
                matSortDisableClear matSortDirection="asc">

              <!-- ID Column -->
              <ng-container matColumnDef=".id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">ID</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row['.id']}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Name</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.name}}</td>
              </ng-container>

              <!-- Profile Column -->
              <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Profile</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.profile}}</td>
              </ng-container>

              <!-- Limit Uptime Column -->
              <ng-container matColumnDef="limit-uptime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Limit Uptime</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row['limit-uptime']}}</td>
              </ng-container>
              
              <!-- Iptime Column -->
              <ng-container matColumnDef="uptime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Uptime</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row.uptime}}</td>
              </ng-container>

              <!-- Bytes-In Column -->
              <ng-container matColumnDef="bytes-in">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Bytes-Out</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row['bytes-out']}}</td>
              </ng-container>

              <!-- Bytes-Out Column -->
              <ng-container matColumnDef="bytes-out">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Bytes-In</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row['bytes-in']}}</td>
              </ng-container>

              <!-- limit-bytes-total Column -->
              <ng-container matColumnDef="limit-bytes-total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Limit-Bytes-Total</th>
                <td mat-cell *matCellDef="let row" class="text-center">{{row['limit-bytes-total']}}</td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Status</th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <span 
                    class="badge badge-pill" 
                    [ngClass]="row.disabled ? 'badge-danger' : 'badge-success'">
                    <a (click)="changeStatus(row)" matTooltip="{{ row.disabled ? 'Check In This Room?' : 'Check Out This Room?' }}">
                      {{row.disabled ? 'Checked Out' :  'Checked In'}}</a>
                  </span>
                </td>
              </ng-container>
              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="navigate(element['.id'])">
                      <mat-icon>send</mat-icon>
                      <span>Send OTP</span>
                    </button>

                    <button mat-menu-item *ngIf="accessLevels.canRemoveRoom && element.canRemove" (click)="removeRoom(element['.id'])">
                      <mat-icon>close</mat-icon>
                      <span>Remove</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
      
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>
