@import "../../../src/assets/scss/material-dashboard.scss";

.missing-icon {
  height: auto;
  width: auto;
  font-size: 10em;
  color: $red-a400;
}

h1 {
  color: $red-a200;
}

h2 {
  color: $red-400;
}

a {
  color: $blue-a700;
}